* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

button {
    border-radius: 7px;
}

.container {
    padding: 15px;
}

.wrapper .currentTime {
    float: right;
}

.top-bar .highscore {
    float: left;
}

